* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
  }
  
  :root {
    --black: #000000;
    --blackLighter: #9E9E9E;
    --grayLight: #F5F5F5;
    --red:#C12A38;
    --grayMedium: #e5e5e5; 
    --white: #FFFFFF;
    --transparent-white:rgba(256, 256, 256, 0.25);
    --transparent-black:rgba(0, 0, 0, 0.25);

  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
    font-size: 16px;
  }
  
  h1{
    font-size: 4rem;
    line-height: 1rem;
  }

  h2{
    font-size: 1.5rem;
    font-weight: bold;

  }
  a{
    color:inherit;
    text-decoration:none;
  }

  img{
    max-width: 100%;
  }


  #root{
    min-height: 100vh - 94px;
    background-color: var(--black);
  }
  
  header{
      position: fixed;
      top: 0;
      left:0;
      width: 100%;
      padding:10px;
      height: 70px;
      background-color:var(--red);
      box-shadow:5px 0px 10px black;
      z-index: 3;
  }
  .main-logo{
    max-width: 370px;
    display: block;
    float: left;
  }

  .menu-top{
    float:right;
  }
  
 .menu-top li{
   display: inline-block;
   padding:4px 15px;
   margin:0 5px;
   color:white;
   font-size: 1rem;
   text-transform: uppercase;
 }


 .menu-top li:hover, .menu-top li:active{
  color:var(--red);
  font-weight: bold;
  background-color:var(--white);
  border-radius: 10px;
}

#bt-menu,.menu-top .social-media-menu, .menu-top h2, .menu-top img {
  display: none;
  }
 
label[for="bt-menu"]{
  display: none;
  }

#main-content{
  height: 100vh;
  width: 100%;
  background-image: url('files/anneis02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center bottom;
  padding-top:250px;
  padding-left: 70px;
}

.video-intro{
  background-color: var(--transparent-black);
  border-radius:10px;
  width:620px;
  height:270px;
  padding:8px 32px;
  margin-bottom: 32px;
  color:var(--white);
}

.main-button{
  width: 192px;
  padding:14px 60px;
  text-transform: uppercase;
  border-radius:10px;
  font-weight: bold;
  margin-right:16px;

}

.red{
  color:var(--white);
  background-color:var(--red);

}

.white{
  color:var(--red);
  background-color:var(--white);
}



/* MEDIA QUERY - RESPONSIVO */

@media(max-width:850px){ 

  header{
    height: 60px;
  }

  label[for="bt-menu"]{
    display:block;
    float: right;
    cursor: pointer;
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .main-logo{
    max-width: 260px;
  }

  #bt-menu:checked ~ .menu-top{
    display: block;
    position: fixed;
    width: 65vw;
    background-color:var(--white);
    padding-right: 20px;
   
  }

  .menu-top ul{
    padding:0;
  }

  .menu-top{
    display: block;
    position: fixed;
    top:60px;
    right: 0;
    height: 100%;
    width:0;
    background-color:var(--white);
    transition: all 0.5s ease-in;
    text-align:center;
  }

  .menu-top li{
    display: block;
    margin-top:20px;
    padding:10px;
    color:var(--black);
    font-size: 1rem;
    text-transform: uppercase;
  }

  .menu-top .social-media-menu, .menu-top h2, .menu-top img{
    display: block;
  }

  .menu-top img:first-of-type{
    margin:0 auto;
    margin-top:30px;
  }

  .menu-top .social-media-menu{
    margin-top:20px;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: center;

  }


  .menu-top li:hover, .menu-top li:active{
    color:var(--white);
    font-weight: bold;
    background-color:var(--red);
    border-radius:0;
  }
  
  .menu-top .social-media-icon{
    padding: 0;
    opacity: 0.6;
  }

  .menu-top .social-media-icon:hover, .menu-top .social-media-icon:active{
    padding: 0;
    opacity: 1;
    background-color:var(--white);
  }

  #main-content{
    height: 100vh;
    width: 100%;
    background-image: url('files/anneis02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center bottom;
    padding:0;
    padding-top: 250px;
    margin-left:0;


  
  }
  
  .video-intro{
    width:70vw;
    height:270px;
    padding:8px 32px;
    margin:0 auto;
    margin-bottom: 32px;
  }

  .main-buttons{
    margin:0 auto;
    text-align: center;
    padding:8px 32px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .main-button{
    width: 100%;
    padding:8px 20px;
    font-weight: bold;
    font-size:0.95rem;

  
  }
  


}
